h2 New route
form(method='post', action='/route/new')
    input(name='from', placeholder='From')
    input(name='to', placeholder='To')
    input(name='notes', placeholder='Notes')
    input(type='submit', value='Enter')
