h2 New route

include ../location-mixin
form(method='post', action='/route/new')
    label(for='from') From:
        mixin location('from', 'Zürich')
    label(for='to') To:
        mixin location('to', 'Basel')
    label(for='notes') Notes:
        input(name='notes')
    input(type='submit', value='Enter')
