h2 New package
form(method='post', action='/package/new')
    input(name='description', placeholder='Description')
    input(name='from', placeholder='From')
    input(name='to', placeholder='To')
    input(type='submit', value='Enter')
