h2 New package

include ../location-mixin
form(method='post', action='/package/new')
    input(name='description', placeholder='Description')
    mixin location('from', 'Zürich')
    mixin location('to', 'Basel')
    input(type='submit', value='Enter')
