h2 You
p You are logged in as #{email}.
p What do you want to do next?
ul
    li
        a(href='/package/new') Have someone deliver my package
    li
        a(href='/delivery/new') Deliver someone elses package for money
    li
        a(href='/logout') Log out
