if flash.info
    each info in flash.info
        p.info= info

p What do you want to do?
ul
    li: a(href='/package/new') Add a package to deliver
    li: a(href='/route/new') Enter a new delivery route
