body
    padding 10px
    font 16px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color #00B7FF

p.info
    color #009900
    font-weight bold

label
    margin-right 10px

label > *:first-child
    margin-left 5px
