@import 'nib'

// Definitions

background-color = #F7F7F8
footer-color = #4C4545
error-color = #FF3333
info-color = #67AF29


// Resets and overrides

body
    background-color background-color
    margin 0
    padding 0

h1, h2, h3, h4
    reset-box-model()
    margin-bottom 10px
    font-size 24px

// Links and type

body
    font 16px "Lucida Grande", Helvetica, Arial, sans-serif

a
    color #00B7FF

// Main layout

.header_jacket
    border-top solid 12px #67AF29

.header
    margin 0 auto
    width 959px
    position relative

    & img.logo
        float left
        padding 8px 0 9px 10px

    & ul.session
        absolute bottom right
        margin 0
        padding 8px

        & li
            border-left solid 1px
            &:first-child
                border-left none
            display inline
            margin 0
            padding-left 7px
            padding-right 6px

.content_jacket
    background url(/images/slider_bg.jpg) center top repeat-x
    padding 48px + 10px 10px

.content
    background-color background-color
    border-radius 10px
    margin 0 auto
    padding 10px
    width 939px

// Secondary layout structures

// Form elements

// Miscellaneous

.clearfix
    clearfix()

p.flash-error
    color error-color
    font-weight bold

p.flash-info
    color info-color
    font-weight bold

label
    margin-right 10px

    & > *:first-child
        margin-left 5px

.footer
    padding 11px 0 9px 0

    & ul
        color footer-color
        & a
            color footer-color
        margin 0 auto
        text-align center
        width 900px

        & li
            border-left solid 1px footer-color
            &:first-child
                border-left none
            display inline
            margin 0
            padding-left 7px
            padding-right 6px
